@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Merriweather:wght@300;400;700&display=swap');

.coursea {
    margin: 50px;
}

.courseCardCol {
    margin-bottom: 20px ;
    
}
.course-heading{
    text-align: center;
}
.card {
    min-height: 200px;
     width:18rem;
     text-align: center;
}

.card-img-top{ 
    border-radius: 10px;

    height: 200px;
  }

  .courseFeature {
  
    background-color: black;
    color: #ffff;
    text-align: center;
    padding: 60px;
  }

  /* .carSec {
    /* display: block; */
  } */
 .training-heading{
    text-align: center;
}

.contentSec {
  margin-top: 100px;
  
}
.contentSection {
  color:black;
  margin-top: 100px;
  background-color: #ffff;

}

.container{
  font-family: 'Lato', sans-serif;
}

.bltpnt {
  list-style-type: none; 
  padding-left: 20px; 
  font-family: "'Merriweather', serif;";
}

li {
  margin-bottom: 10px; 
  display: flex; 
  align-items: center; 
}

li img {
  margin-right: 10px; 
  height: 16px; 
  width: 16px; 
}
.thnx {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 20px;
  border: 1px solid black;
  background-color:#ffff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.okth {
  color: #020230;
}

.okthn {
  color:#020230;
  margin-bottom: 10px;
}
.okBtn {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black
}

.okBtn:hover {
    background-color: #020230 ;
    color: #ffffff !important;
    border: #020230;
}

/* #trainBg {
  background-color: #7dc1b4;
} */

/* #courseBg {
  background-color: #5fd7d5;
} */

.courseImg {
  display: flex;
  justify-content: center;
}

#loking {
  background-color: transparent;
  color: #b0b0b0;
}




 .address { 
  text-align: center;
  background-color: #020230;
  color: #ffffff;
  padding: 40px;
  margin: 120px;
  margin-bottom: 40px;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
}


.cmpnyAd{
  margin-bottom: 10px;
  text-align: center;
  font-size:30px ;
} 
.img-career {
  width:550px;
  height: 580px;
}

.slider_section .img-career img {
  width: 100%;
  height: 100%;
}





